.hero {
  background: url('/assets/slide1.JPEG') no-repeat center center;
  background-size: cover;
  color: rgb(15, 12, 12);
  text-align: center;
  padding: 100px 20px;
}

.hero button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.hero button:hover {
  background-color: #2980b9;
}
