.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #1a1a1a;
  color: #11eb23;
}
.logout-btn {
  padding: 8px 15px;
  background-color: #3be910;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: #34ec0f;
}
