.vet-dashboard {
  padding: 25px;
  background-color: #121212;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
}

.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background-color: #38da0f;
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.card h3 {
  margin-bottom: 10px;
  color: #000;
}

.card p {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.table-section table {
  width: 100%;
  border-collapse: collapse;
}

.table-section th, .table-section td {
  padding: 12px;
  border: 1px solid #50df17;
}

.table-section th {
  background-color: #13d13d;
  color: #000;
}
