.emergency {
  background-color: #16a085; 
  color: white;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 -2px 10px rgba(222, 217, 217, 0.1);
}

.emergency h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.emergency p {
  font-size: 1.2rem;
}

.emergency strong {
  color: #e6e61e; /* amarillo de alerta para resaltar el número */
  font-weight: 700;
}
