.sidebar {
  width: 250px;
  background-color: #53ec0c;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.sidebar .logo {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: bold;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  margin: 15px 0;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.sidebar a.active {
  text-decoration: underline;
}
