.contenedor {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

button {
  background-color: #ff4d4d;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  padding: 4px 10px;
}
button:hover {
  background-color: #e60000;
}
