form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 10px;
  background: #0d61b4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

label {
  font-weight: 600;
}

input, button {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #28a745;
  color: rgb(94, 14, 14);
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
