.admin-container {
  display: flex;
  height: 100vh;
  background: #121212;
}

.sidebar {
  width: 250px;
  min-width: 250px;
  background: #1c1c1c;
  border-right: 2px solid #ff7a00;
}

.content-area {
  flex: 1;
  padding: 20px;
  color: #fff;
  overflow-y: auto;
}
